.Drafter-container {
   margin: 0 auto;
   width: 50em;
   height: 29em;
   background-color: white;
   grid-row-start: 5;
   grid-row-end: 6;
}

.Editor {
   height: 40em;
   width: 65em;
   margin: 1em;
}