.Drafter-container {
   margin: 0 auto;
   width: 50em;
   height: 30em;
   background-color: white;
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column: 2 / 3;
}

.Editor {
   height: 40em;
   width: 65em;
   margin: 1em;
}

.back-button {
   color: #888;
   font-size: .7em;
   height: 2em;
   border: 0;
   margin: 0 1em;
   border-radius: 2px;
}

.backButtons {
   margin: 1em 12em;
}