.Hub-container {
    margin: .7em auto 0;
    padding: 0;
    width: 40em;
    background:rgb(0, 0, 0, .6);
    border-radius: 5px;
    align-self: start;
    grid-row-start: 6;
    grid-row-end: 7;
}

.Hub-nav {
    margin: 0;
    padding: 0; 
    list-style: none;
    font-family: helvetica;
    font-weight: bold;
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Hub-nav a {
   color: white;
   text-decoration: none;
   display: block;
}

.Hub-nav li {
    padding: .5em;
}

.inactive:hover {
   background: rgb(104, 104, 104, .5);
}
.inactive{
   background: rgb(0, 0, 0, .6);
}