.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: .25fr 10.5fr .25fr;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-clock {
  align-self: end;
  margin: 0;
  padding: 0;
  font-size: 10em;
  font-weight: 500;
  color: white;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column: 2 / 3;
}

.Prompt {
   grid-row-start: 5;
   grid-row-end: 6;
   grid-column: 2 / 3;
   color: white;
   font-size: 3em;
   font-weight: 400;
}

.Prompt a {
   text-decoration: none;
}

.change-background-div {
   grid-row: 1 / 10;
   grid-column: 3 / 4;
   justify-self: end;
   z-index: 10;
}

.change-background-back-div {
   grid-row: 1 / 10;
   grid-column: 1 / 2;
   justify-self: start;
   z-index: 5;
}

.change-background,
.change-background-back {
   height: 100%;
   background: transparent;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.4);
   border: 0px solid rgba(0, 0, 0, 0); 
   font-size: 1em;
   font-weight: bold;
   outline:none;
}

.change-background:hover,
.change-background-back:hover {
   background-color:rgba(0, 0, 0, 0.4);
   color: white; 
   cursor: pointer;
}

.sign-out-div {
   grid-row: 1 / 2;
   grid-column: 3 / 4;
   align-self: start;
   justify-self: end;
   z-index: 10;
}

.sign-out {
   height: 25px;
   width: 25px;
   background-color: Transparent;
   text-decoration: none;
   color: rgba(0, 0, 0, 0.4);
   border-radius: 50%;
   border-color: rgba(0, 0, 0, 0.3);
   outline:none;
}

.sign-out:hover {
   background-color:rgba(0, 0, 0, 0.4);
   color: red; 
   cursor: pointer;
}

.blinking-cursor {
   display: block;
   font-weight: 100;
   font-size: 1em;
   color: white;
   border-bottom: 4px solid white;
   width: 10em;
   margin: auto;
   -webkit-animation: 1s blink step-end infinite;
   -moz-animation: 1s blink step-end infinite;
   -ms-animation: 1s blink step-end infinite;
   -o-animation: 1s blink step-end infinite;
   animation: 1s blink step-end infinite;
 }
 
 @keyframes "blink" {
   from, to {
     color: transparent;
   }
   50% {
     color: white;
   }
 }
 
 @-moz-keyframes blink {
   from, to {
     color: transparent;
   }
   50% {
     color: white;
   }
 }
 
 @-webkit-keyframes "blink" {
   from, to {
     color: transparent;
   }
   50% {
     color: white;
   }
 }
 
 @-ms-keyframes "blink" {
   from, to {
     color: transparent;
   }
   50% {
     color: white;
   }
 }
 
 @-o-keyframes "blink" {
   from, to {
     color: transparent;
   }
   50% {
     color: white;
   }
 }

